### Countries Variable

In [187]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 220)

In [188]:

# Create a dataframe with 3 empty column
empty_1 = pd.DataFrame({'india' : [np.nan],
                              'indo': [np.nan],
                         'aust': [np.nan],
                       })


# Add 70 rows to the 3 empty column
country_1 = empty_1.reindex(empty_1.index.tolist() + list(range(1, 70)))

# Replacing empty values with coutnry name 
country_1["india"].fillna("India", inplace = True) 
country_1["indo"].fillna("Indonesia", inplace = True) 
country_1["aust"].fillna("Austria", inplace = True)

india = country_1.iloc[:,0:1]

indonesia = country_1.iloc[:,1:2]

austria = country_1.iloc[:,2:3]

new_columns = ["Country"]
india.columns = new_columns
indonesia.columns = new_columns
austria.columns = new_columns

Countries = pd.concat([india, indonesia, austria], ignore_index=True)

### Years Variable

In [189]:
Years = pd.DataFrame({"Years": [1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 
                                1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969,
                                1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979,
                                1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989,
                                1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999,
                                2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
                                2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019,
                               
                                1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 
                                1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969,
                                1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979,
                                1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989,
                                1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999,
                                2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
                                2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019,
                                
                                1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 
                                1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969,
                                1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979,
                                1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989,
                                1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999,
                                2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
                                2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019 ] } )

### Prevelance Variable

##### India

In [190]:
rng = np.random.default_rng(0)

# Generate random data for share of adults that smoke (15 years or older) 

# 1950 - 1999: % of poulation that smoked remained pretty steady
# Use np.poisson to create  to create
prevalence_india_1 = rng.poisson(34, 50)

# 2000 - 2019: Consumption increased
prevalence_india_2 = rng.poisson(21, 20)

# Round to 1 decimal
R_prevalence_india_1 = prevalence_india_1.round(1)
R_prevalence_india_2 = prevalence_india_2.round(1)

# Transform Arrays into DataFrames
DF_prevalence_india_1 = pd.DataFrame(R_prevalence_india_1)
DF_prevalence_india_2 = pd.DataFrame(R_prevalence_india_2)

##### Indonesia

In [191]:
rng = np.random.default_rng(0)

# Generate random data for share of adults that smoke (15 years or older) 

# 1950 - 1999: % of poulation that smoked remained pretty steady
# Use np.poisson to create  to create
prevalence_indo_1 = rng.poisson(19, 50)

# 2000 - 2019: % of population increased
prevalence_indo_2 = rng.poisson(36, 20)

# Transform Arrays into DataFrames
DF_prevalence_indo_1 = pd.DataFrame(prevalence_indo_1)
DF_prevalence_indo_2 = pd.DataFrame(prevalence_indo_2)

##### Austria

In [192]:
rng = np.random.default_rng(0)

# Generate random data for share of adults that smoke (15 years or older) 

# 1950 - 1999: % of poulation that smoked remained pretty steady
# Use np.poisson to create  to create
prevalence_aust_1 = rng.poisson(45, 50)

# 2000 - 2019: % of population decreased
prevalence_aust_2 = rng.poisson(17, 20)

# Transform Arrays into DataFrames
DF_prevalence_aust_1 = pd.DataFrame(prevalence_aust_1)
DF_prevalence_aust_2 = pd.DataFrame(prevalence_aust_2)

#frames_1 = [DF_prevalence_india_1, DF_prevalence_india_2, DF_prevalence_indo_1, DF_prevalence_indo_2,
          #     DF_prevalence_aust_1, DF_prevalence_aust_2]

In [193]:
Prevalence = pd.concat([DF_prevalence_india_1, DF_prevalence_india_2, DF_prevalence_indo_1, DF_prevalence_indo_2,
               DF_prevalence_aust_1, DF_prevalence_aust_2], axis=0, join='inner', ignore_index=True)
Prevalence.columns = ["Prevalence(%)"]

#### tolist() method for reordering columns: https://stackoverflow.com/questions/13148429/how-to-change-the-order-of-dataframe-columns

#### creating a blank column: https://www.kite.com/python/answers/how-to-create-an-empty-column-in-a-pandas-dataframe-in-python#:~:text=Use%20an%20empty%20string%20to,named%20new_column%20in%20the%20Dataframe%20.

#### Consumption Variable

##### India

In [194]:
rng = np.random.default_rng(0)

# Generate random data for number of cigarettes consumed per person per year(15 years or older) 

# 1950 - 1999: Consumption of cigs per person per year remained pretty steady
# Use np.poisson to create  to create
percapita_india_1 = rng.poisson(1200, 50)

# 2000 - 2019: Consumption increased
percapita_india_2 = rng.poisson(1300, 20)

# Transform Arrays into DataFrames
DF_percapita_india_1 = pd.DataFrame(percapita_india_1)
DF_percapita_india_2 = pd.DataFrame(percapita_india_2)

##### Indonesia

In [195]:
rng = np.random.default_rng(0)

# Generate random data for number of cigarettes consumed per person per year(15 years or older) 

# 1950 - 1999: Consumption of cigs remained pretty steady
# Use np.poisson to create  to create
percapita_indo_1 = rng.poisson(1200, 50)

# 2000 - 2019: Consumption increased
percapita_indo_2 = rng.poisson(2900, 20)

# Transform Arrays into DataFrames
DF_percapita_indo_1 = pd.DataFrame(percapita_indo_1)
DF_percapita_indo_2 = pd.DataFrame(percapita_indo_2)

##### Austria

In [196]:
rng = np.random.default_rng(0)

# Generate random data for number of cigarettes consumed per year(15 years or older)

# 1950 - 1999: Consumption of cigs remained pretty steady
# Use np.poisson to create  to create
percapita_aust_1 = rng.poisson(2721, 50)

# 2000 - 2019: Consumption increased
percapita_aust_2 = rng.poisson(1300, 20)

# Transform Arrays into DataFrames
DF_percapita_aust_1 = pd.DataFrame(percapita_aust_1)
DF_percapita_aust_2 = pd.DataFrame(percapita_aust_2)

In [197]:
Consumption = pd.concat( [DF_percapita_india_1, DF_percapita_india_2, DF_percapita_indo_1, DF_percapita_indo_2,
               DF_percapita_aust_1, DF_percapita_aust_2], axis=0, join='inner', ignore_index=True)

Consumption.columns = ["Consumption"]

### Government Control Rating (0.0 - 6.0)

##### India

In [198]:
rng = np.random.default_rng(0)

# Generate random data for Government Control in Uniform Distribution 

# 1950 - 2002: There was very little government control in India
rating_india_1 = rng.uniform(0.6, 1.4, 53)

# 2003 - 2019: FCTC adopted, rating increase
rating_india_2 = rng.uniform(1.5, 1.4, 17)

# Round to 1 decimal
R_rating_india_1 = rating_india_1.round(1)
R_rating_india_2 = rating_india_2.round(1)

# Transform Arrays into DataFrames
DF_rating_india_1 = pd.DataFrame(R_rating_india_1)
DF_rating_india_2 = pd.DataFrame(R_rating_india_2)

In [199]:
rng = np.random.default_rng(0)

# Generate random data for Government Control in Uniform Distribution 

# 1950 - 2002: There was very little government control in Indonesia
rating_indo_1 = rng.uniform(0.3, 1.2, 53)

# 2003 - 2019: There was little or no increase
rating_indo_2 = rng.uniform(1.3, 1.8, 17)

# Round to 1 decimal
R_rating_indo_1 = rating_indo_1.round(1)
R_rating_indo_2 = rating_indo_2.round(1)

# Transform Arrays into DataFrames
DF_rating_indo_1 = pd.DataFrame(R_rating_indo_1)
DF_rating_indo_2 = pd.DataFrame(R_rating_indo_2)

#### Austria

In [200]:
rng = np.random.default_rng(0)

# Generate random data for Government Control in Uniform Distribution 

# 1950 - 2002: There was limited control
rating_aust_1 = rng.uniform(1.3, 2.6, 53)

# 2003 - 2019: FCTC adopted, many controls brought in 
rating_aust_2 = rng.uniform(4.1, 4.9, 17)

# Round to 1 decimal
R_rating_aust_1 = rating_aust_1.round(1)
R_rating_aust_2 = rating_aust_2.round(1)

# Transform Arrays into DataFrames
DF_rating_aust_1 = pd.DataFrame(R_rating_aust_1)
DF_rating_aust_2 = pd.DataFrame(R_rating_aust_2)

In [201]:
Rating = pd.concat( [DF_rating_india_1, DF_rating_india_2, DF_rating_indo_1, DF_rating_indo_2,
               DF_rating_aust_1, DF_rating_aust_2], axis=0, join='inner', ignore_index=True)

Rating.columns = ["Control Rating"]

In [202]:
# Concatenate the dataframes along the x-axis, setting the join parameter to 'inner'
dataset1 = pd.concat([Years, Countries, Prevalence, Consumption, Rating], axis=1, join='inner')
dataset1.head(20)

    Years Country  Prevalence(%)  Consumption  Control Rating
0    1950   India             36         1214             1.1
1    1951   India             19         1111             0.8
2    1952   India             36         1211             0.6
3    1953   India             35         1204             0.6
4    1954   India             40         1235             1.3
5    1955   India             41         1242             1.3
6    1956   India             38         1224             1.1
7    1957   India             41         1243             1.2
8    1958   India             30         1179             1.0
9    1959   India             37         1217             1.3
10   1960   India             36         1211             1.3
11   1961   India             37         1219             0.6
12   1962   India             37         1219             1.3
13   1963   India             26         1156             0.6
14   1964   India             34         1202             1.2
15   1965   India             34         1199             0.7
16   1966   India             45         1267             1.3
17   1967   India             35         1207             1.0
18   1968   India             36         1209             0.8
19   1969   India             32         1189             0.9

In [203]:
# Use the loc() on dataset1 to access the control rating read the value and interpret the value of Control Rating

dataset1.loc[(dataset1["Control Rating"] >= 0) & (dataset1["Control Rating"] < 1), "Influence"] = "Strong"
dataset1.loc[(dataset1["Control Rating"] >= 1) & (dataset1["Control Rating"] < 2.5), "Influence"] = "Significant"
dataset1.loc[(dataset1["Control Rating"] >= 2.5) & (dataset1["Control Rating"] < 4.0), "Influence"] = "Moderate"
dataset1.loc[(dataset1["Control Rating"] >= 4.0) & (dataset1["Control Rating"] < 5.0), "Influence"] = "Weak"
dataset1.head(8)

# Print the top 10 rows
dataset1[['Control Rating', 'Influence']].head(10)

   Control Rating    Influence
0             1.1  Significant
1             0.8       Strong
2             0.6       Strong
3             0.6       Strong
4             1.3  Significant
5             1.3  Significant
6             1.1  Significant
7             1.2  Significant
8             1.0  Significant
9             1.3  Significant

##### Indonesia

In [124]:
rng = np.random.default_rng(0)

# Generate random data for number of cigarettes consumed per person (15 years or older) 

# 1950 - 1999: Consumption of cigs remained pretty steady
# Use np.poisson to create  to create
percapita_indo_1 = rng.poisson(19, 50)

# 2000 - 2019: Consumption increased
percapita_indo_2 = rng.poisson(36, 20)

# Round to 1 decimal
R_percapita_indo_1 = percapita_indo_1.round(1)
R_percapita_indo_2 = percapita_indo_2.round(1)

# Transform Arrays into DataFrames
DF_percapita_indo_1 = pd.DataFrame(R_percapita_indo_1)
DF_percapita_indo_2 = pd.DataFrame(R_percapita_indo_2)

     0
0   21
1    8
2   20
3   19
4   24
5   24
6   22
7   25
8   16
9   21
10  20
11  21
12  21
13  13
14  19
15  19
16  27
17  20
18  20
19  18
20  15
21  12
22  23
23  25
24  17
25  18
26  15
27  18
28  12
29  16
30  17
31  18
32  19
33  28
34  23
35  19
36  18
37  13
38  25
39  19
40  16
41  18
42  20
43  22
44  23
45  27
46  24
47  17
48  16
49  25

##### Austria

In [52]:
rng = np.random.default_rng(0)

# Generate random data for number of cigarettes consumed per person (15 years or older) 

# 1950 - 1999: Consumption of cigs remained pretty steady
# Use np.poisson to create  to create
percapita_aust_1 = rng.poisson(45, 50)

# 2000 - 2019: Consumption increased
percapita_aust_2 = rng.poisson(17, 20)

# Round to 1 decimal
R_percapita_aust_1 = percapita_aust_1.round(1)
R_percapita_aust_2 = percapita_aust_2.round(1)

# Round to 1 decimal
R_percapita_aust_1 = percapita_aust_1.round(1)
R_percapita_aust_2 = percapita_aust_2.round(1)

# Transform Arrays into DataFrames
DF_percapita_aust_1 = pd.DataFrame(R_percapita_aust_1)
DF_percapita_aust_2 = pd.DataFrame(R_percapita_aust_2)

frames_1 = [DF_percapita_india_1, DF_percapita_india_2, DF_percapita_indo_1, DF_percapita_indo_2,
               DF_percapita_aust_1, DF_percapita_aust_2]

prevalence = pd.concat(frames_1)
prevalence.columns = ["Prevalence(%)"]

In [ ]:
##### India

rng = np.random.default_rng(0)

# Generate random data for number of cigarettes consumed per person (15 years or older) 

# 1950 - 1999: Consumption of cigs remained pretty steady
# Use np.poisson to create  to create
percapita_india_1 = rng.poisson(34, 50)

# 2000 - 2019: Consumption increased
percapita_india_2 = rng.poisson(21, 20)

# Round to 1 decimal
R_percapita_india_1 = percapita_india_1.round(1)
R_percapita_india_2 = percapita_india_2.round(1)

# Transform Arrays into DataFrames
DF_percapita_india_1 = pd.DataFrame(R_percapita_india_1)
DF_percapita_india_2 = pd.DataFrame(R_percapita_india_2)

##### Indonesia

rng = np.random.default_rng(0)

# Generate random data for number of cigarettes consumed per person (15 years or older) 

# 1950 - 1999: Consumption of cigs remained pretty steady
# Use np.poisson to create  to create
percapita_indo_1 = rng.poisson(19, 50)

# 2000 - 2019: Consumption increased
percapita_indo_2 = rng.poisson(36, 20)

# Round to 1 decimal
R_percapita_indo_1 = percapita_indo_1.round(1)
R_percapita_indo_2 = percapita_indo_2.round(1)

# Transform Arrays into DataFrames
DF_percapita_indo_1 = pd.DataFrame(R_percapita_indo_1)
DF_percapita_indo_2 = pd.DataFrame(R_percapita_indo_2)

##### Austria

rng = np.random.default_rng(0)

# Generate random data for number of cigarettes consumed per person (15 years or older) 

# 1950 - 1999: Consumption of cigs remained pretty steady
# Use np.poisson to create  to create
percapita_aust_1 = rng.poisson(45, 50)

# 2000 - 2019: Consumption increased
percapita_aust_2 = rng.poisson(17, 20)

# Round to 1 decimal
R_percapita_aust_1 = percapita_aust_1.round(1)
R_percapita_aust_2 = percapita_aust_2.round(1)

# Round to 1 decimal
R_percapita_aust_1 = percapita_aust_1.round(1)
R_percapita_aust_2 = percapita_aust_2.round(1)

# Transform Arrays into DataFrames
DF_percapita_aust_1 = pd.DataFrame(R_percapita_aust_1)
DF_percapita_aust_2 = pd.DataFrame(R_percapita_aust_2)

frames_1 = [DF_percapita_india_1, DF_percapita_india_2, DF_percapita_indo_1, DF_percapita_indo_2,
               DF_percapita_aust_1, DF_percapita_aust_2]

prevalence = pd.concat(frames_1)
prevalence.columns = ["Prevalence(%)"]

### Use the ravel() Method to Combine Columns for 1. Prevelance, 2. Consumption and 3. Control

In [ ]:
# Create dataframe of numeric variables using ravel() method
temp_df2 = pd.DataFrame({'Prevelance (%)': prevelance1.ravel(), 
                     'Consumption': per_capita1.ravel(), 'Control Rating': control_rate1.ravel(),  })

In [ ]:
# Create an empty column for countries
#prevalence["Countries"] = ""

# Use the .tolist() method to reorder columns
#cols = prevalence.columns.tolist()
#cols = cols[-1:] + cols[:-1]